header {
    background-color: navy;
    color: lightgreen;
}

container{
    width: 60%
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.resize{
    width: 400px;
    height:200px;
}

