<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-shopping-cart fa-6x"></i>
    <h1 class="display-3">Ecommerce</h1>
    <p class="lead">Shop your favourites on just one click!</p>
    <hr>
    <a class="btn btn-success btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-warning btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
