<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-shopping-cart fa-6x"></i>
    <h1 class="display-3">You've successfully signed in to our site!</h1>
<!--     
    <hr>

    <a class="btn btn-light btn-lg" href="/" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> -->
  </div>
</div>

<%- include('partials/footer') %>
